xsd/CashManagement/TIPS_camt.052.001.06 4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 12 18:17:13, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.052.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountReport19">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Acct" type="CashAccount25"/>
			<xs:element name="Bal" type="CashBalance7" minOccurs="2" maxOccurs="2"/>
			<xs:element name="TxsSummry" type="TotalTransactions5" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BalanceType12">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="BalanceType5Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BalanceType12Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLBD"/>
			<xs:enumeration value="OPBD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BalanceType5Choice">
		<xs:choice>
			<xs:element name="Cd" type="BalanceType12Code"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BankToCustomerAccountReportV06">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader58"/>
			<xs:element name="Rpt" type="AccountReport19" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount25">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" maxOccurs="1"/>
			<xs:element name="Ownr" type="PartyIdentification43" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalance7">
		<xs:sequence>
			<xs:element name="Tp" type="BalanceType12"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Dt" type="DateAndDateTimeChoice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:choice>
			<xs:element name="Dt" type="ISODate"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="BkToCstmrAcctRpt" type="BankToCustomerAccountReportV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader58">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NumberAndSumOfTransactions1">
		<xs:sequence>
			<xs:element name="Sum" type="DecimalNumber" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Id" type="Party11Choice" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TotalTransactions5">
		<xs:sequence>
			<xs:element name="TtlCdtNtries" type="NumberAndSumOfTransactions1" maxOccurs="1"/>
			<xs:element name="TtlDbtNtries" type="NumberAndSumOfTransactions1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
