xsd/CashManagement/TIPS_camt.004.001.07 4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.004.001.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.004.001.07" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountOrBusinessError2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountOrBusinessError2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between account details or a business error when the requested data cannot be retrieved.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Acct" type="CashAccount23">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Requested information on the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizErr" type="ErrorHandling4" minOccurs="1" maxOccurs="5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountOrOperationalError2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountOrOperationalError2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between account details or an operational error when the requested data cannot be retrieved.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AcctRpt" type="AccountReport17" minOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountReport</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reports either on the account information or on a business error.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountReport17">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountReport17</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Reports either on the account information or on a business error.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentification4Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctOrErr" type="AccountOrBusinessError2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountOrError</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Requested information on the account or business error when information has not been found.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BalanceRestrictionType1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BalanceRestrictionType1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Type providing further information on balance restrictions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tp" type="GenericIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Type of the restriction, for example, selling restriction, buying restriction, placing restriction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrcgTp" type="ProcessingType1Choice" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ProcessingType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Classification of the type of processing restriction that the system should apply for the restriction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceType9Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BalanceType9Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the balance details.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="SystemBalanceType2Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance, in a coded form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BilateralLimit1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BilateralLimit1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Characteristics and values set for a bilateral limit, including the counterparty upon which the limit applies.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CtrPtyId" type="BranchAndFinancialInstitutionIdentification5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CounterpartyIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LmtAmt" type="Amount2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LimitAmount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amount of money of the limit, expressed in an eligible currency.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies if a limit is a debit limit or a credit limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BilBal" type="CashBalance6" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BilateralBalance</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance calculated with regard to one member in the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount23">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashAccount23</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Nm" type="RestrictedFINX2Max34Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Name of the account. It provides an additional means of identification, and is designated by the account servicer in agreement with the account owner. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the currency of the cash account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ownr" type="PartyIdentification43" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Owner</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MulBal" type="CashBalance5" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MultilateralBalance</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance is calculated with regard to many members in the system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurBilLmt" type="BilateralLimit1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CurrentBilateralLimit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Limit fixed by a party A with regard to a specific counterparty B and corresponding to the maximum amount of traffic that party A may send to party B. The bilateral limit can be expressed as a debit limit or a credit limit. 
With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalance5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashBalance5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Balance details for a cash account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Currency and amount of money of the cash balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance is a credit or a debit balance. A zero balance is considered to be a credit balance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RstrctnTp" type="BalanceRestrictionType1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RestrictionType</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Type providing further information on balance restrictions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalance6">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashBalance6</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Balance details for a cash account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Currency and amount of money of the cash balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance is a credit or a debit balance. A zero balance is considered to be a credit balance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="BalanceType9Choice" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CreditDebitCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrAcct" type="ReturnAccountV07"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ErrorHandling2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Prtry" type="RestrictedFINXMax35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ErrorHandling4">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ErrorHandling4</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Err" type="ErrorHandling2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="RestrictedFINXMax140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINXMax35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmount</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageHeader3">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalBusinessQuery1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party11Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PartyIdentification43</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Party11Choice" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingType1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ProcessingType1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Type of processing restrictions.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ProcessingType1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Type of processing restrictions, in a coded form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ProcessingType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ProcessingType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the type of processing restrictions the central system must apply.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Rejection</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction is the rejection during the settlement instruction validation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CVHD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CSDValidationHold</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction is setting the CSD validation automatically to hold when accepting a settlement instruction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RSVT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Reservation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction is the creation of a reservation of a cash balance or a securities position for a specific purpose.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLCK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Blocking</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction is the blocking of a party, securities account, security or cash account from settlement, blocking of securities position or cash balance for a specific purpose</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EARM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Earmarking</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction of linked to the balance type that defines and manages position types for securities positions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EFAC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EarmarkingForAutoCollateralisation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction of linked to the balance type that defines and manages position types for securities positions for auto-collateralisation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DLVR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Deliverable</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">No restriction has been defined.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COLD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Collateralised</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction is linked to a sub-pledged collateral transaction.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSDB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CoSDBlocking</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Restriction does not support any partial execution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax140Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReturnAccountV07">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ReturnAccountV07</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope
The ReturnAccount message is sent by the transaction administrator to a member.
It is used to provide information on the details of one or more accounts held at the transaction administrator, including information on the balances.
The Return Account message can be sent as a response to a related GetAccount message (pull mode) or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.
Usage
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the account(s) that the transaction administrator maintains for the member.
For example, this may be necessary in order to perform the appropriate liquidity management and the necessary funds transfers between accounts.
The member can request information about accounts through a series of criteria, corresponding to the known information stored at the transaction administrator.
The query can concern one or more specific accounts, accounts of a particular identification, or a particular type. The purpose of the query may be to obtain one or more types of balance.
The transaction administrator may also send a ReturnAccount message with pre-defined information, at times previously agreed with the member, or to warn the member about a particular problem that may have arisen and which needs attention.
The message from the transaction administrator can contain information based on the following elements:
- account identification
- account name
- account type (this is used when the account identification represents, for example, a group of accounts)
- currency of the account (this is used for example when the account identification represents a group of account in various currencies, or when it is a multi-currency account with one single identifier)
- type of balance (if not present in the GetAccount message, all balances will be reported)
- bilateral or multilateral limits
- related counterparty (when the limit or balance is bilateral)
- balance value date (if not present in the GetAccount message, the ReturnAccount message will contain the latest available balance)
- number of payments to the additional account information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader3">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptOrErr" type="AccountOrOperationalError2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reports on accounts.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SystemBalanceType2Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SystemBalanceType2Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the balance within a system processing the transactions.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OPNG">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Opening</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Book balance of the account at the beginning of the account servicer's business day. It always equals the closing book balance from the previous business day. 
Note: the available balance at the beginning of the account servicer's business day may be different from the closing book balance from the previous business day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTM">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Interim</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance calculated in the course of the account servicer's business day, at the time specified, and subject to further changes during the business day. The interim balance is calculated on the basis of booked credit and debit items during the calculation time/period specified.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CLSG">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Closing</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance of the account at the end of the account servicer's business day. It is the sum of the opening balance at the beginning of the day and all entries booked to the account during the account servicer's business day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BOOK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Book</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance that is registered in the books of the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRRT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance of the account at a precise moment in time.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PDNG">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance of securities pending delivery, such as the orders to sell securities have been executed but settlement of the open transactions has not been confirmed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LRLD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LimitRelated</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance of a specific limit value, such as a bilateral balance is calculated in relation to a given bilateral limit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AVLB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Available</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance of money or securities that is at the disposal of the account owner on the date specified.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LTSF">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LiquidityTransfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance composed of the sum of all liquidity transfers made to or from an account.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of all credit entries booked to an account.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EAST">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EligibleAssets</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the potential loan a Central Bank would make in cash if the collateral is pledged, such as securities available and eligible as collateral with the central bank.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PYMT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of entries as a result of payments processing.  Entries relating to fees,  interest, or other movements not a result of payments sent or received by the account owner are not included.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLCK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Blocked</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the regulatory reserve that a financial institution must have with the account servicing institution, such as the minimum credit balance a financial institution is to keep with its Central Bank for mandatory reserve purposes.  In some countries, a blocked balance is known as a 'reserve' balance.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XPCD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Expected</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation , which projects the end of day balance if everything is booked on the account and no other entry is posted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DLOD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DaylightOverdraft</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the intra day overdraft granted by the central bank to financial institutions participating in a RTGS system. This balance may vary over time and shall be offset at the end of the day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XCRD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExpectedCredit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation, which projects the end of day credit balance if everything books to the account and no other credit entry is posted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XDBT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExpectedDebit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance, composed of booked entries and pending items known at the time of calculation, which projects the end of day debit balance if everything books to the account and no other debit entry is posted.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADJT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Adjustment</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Average balance to be held in the settlement account at the end of each day in order to fulfil the reserve due.
The approximation will be always made rounding up.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRAV">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ProgressiveAverage</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Average of the daily balances on the account used to fulfil the reserve requirements calculated from the beginning of the maintenance period.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the sum of all debit entries booked to an account.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="THRE">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Threshold</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the amount that will be destined for investment. Difference between available balance and threshold for investment limit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOTE">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Noted</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the amount that a financial institution has set aside for a specific reason and which is therefore not available.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FSET">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ForecastSettlement</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of total of all cash legs for trades that are ready to settle via a a central securities depository. Amounts shown are still subject to processing of the securities settlement. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLOC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BlockedTrades</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the projected total of all cash legs for trades settling via a central securities depository that have been matched but blocked in order to not settle. These blocked trades are included in the calculation for settlement (for example to avoid overdrafts).
Usage rule: Blocking can be done by account owner or its counterparties. Usually this is done to chain transactions or to prioritise other trades. Blocked trades have an indicator that prevents the transactions from settling. Once matched, they can settle whenever the freeze is lifted. In this case they will move to FSET. Lifting the freeze can happen anytime during the day and the transaction will be settling in the next settlement cycle which can be the same day if the (international) central securities depository's operates several settlements cycles per day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTHB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OtherBlockedTrades</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the projected total of all cash legs for trades settling via a central securities depository that have been matched but blocked in order to not settle. These blocked transactions are not included in the calculation for settlement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CUST">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Custody</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the projected total of all asset servicing transactions such as dividends, income corporate actions equivalents, tax returns, etc.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FORC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CashForecast</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total of all balance types representing transactions to settle, blocked items and custody transactions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COLC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DividendsCollection</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the projected total amount of all payment obligations to the participant (bank), based on their role as main paying agent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUND">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NetFunding</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the net amount to be funded resulting from all transactions which have an impact on the funding requirement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PIPO">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PayInPayOut</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the fictive forecast of automated direct debits or payment based on standing arrangements between the a central securities depository and the user.

Usage: Pay-Ins and Pay-Outs can be different based on individual payment instructions or available funds.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XCHG">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ExchangeForecast</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions traded in exchanges.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCPS">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CentralCounterparty</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions traded in exchanges that operate a central counterparty functionality.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TOHB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TotalOnHold</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total of the payments that were put on hold because the limits have been exceeded.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COHB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditOnHold</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total incoming payments that were put on hold because the credit limit has been exceeded.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DOHB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DebitOnHold</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total outgoing payments that were put on hold because the debit limit has been exceeded.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TPBL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TotalProcessed</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total of the payments that have been processed and are waiting for settlement during the day.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CPBL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditProcessed</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total incoming payments that have been processed and are waiting for settlement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DPBL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DebitProcessed</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total outgoing payments that have been processed and are waiting for settlement.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FUTB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TotalFuture</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total of the payments with a processing date in the future.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REJB">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TotalRejected</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the total of the payments that have been rejected.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCOL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FirmCollateralisation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the cash-equivalent resulting from evaluation of existing holdings at central securities depositary that are qualified to serve as collateral.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FCOU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UsedAmountsFirmCollateralisation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the cash equivalent resulting from evaluation of existing holdings at CSD that are qualified to serve as collateral and have been used as collateral.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SCOL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SelfCollateralisation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the cash-equivalent resulting from evaluation of the net incoming balance of securities qualified to serve as collateral for which settlement instructions are held at.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SCOU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">UsedAmountsSelfCollateralisation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the cash-equivalent resulting from evaluation of incoming securities, qualified to serve as collateral and actually used as collateral, which have been settled during the settlement process. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CUSA">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CustodyActual</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the actual total of all asset servicing transactions such as dividends, income corporate actions equivalents, tax returns, redemptions, etc. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XCHC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CCPGuaranteedForecasting</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions in exchanges, going through CCP functions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XCHN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NonCCPGuaranteedForecasting</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions traded in exchanges not going through central counter party (CCP) functions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DSET">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DefinitiveSettledSecurities</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the cash equivalent of all settled securities transactions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LACK">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LackOfHoldingsTransactions</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the cash equivalent of transactions with a lack of holdings. </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSET">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NonSettledSecurities</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the cash equivalent of all non-settled securities transactions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTCC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CCPGuaranteedOTCTransactions</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the Forecast of the total of all cash-legs of transactions 'over the counter' (OTC), going through central counter party (CCP) functions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTCG">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ForecastOTCTransactions</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions traded 'over the counter' (OTC).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OTCN">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NonCCPGuaranteedOTCTransactions</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance representing the forecast of the total of all cash legs of transactions traded 'over the counter' (OTC) not going through central counter party (CCP) functions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAPD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SAPDirectDebitAmount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the settlement account processor direct debit amount.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAPC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SAPDirectCreditAmount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the settlement account processor direct credit amount.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CMUPRepoDebit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the total of the central moneymarkets unit processor repo debits.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REPC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CMUPRepoCredit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the total of the central moneymarkets unit processor repo credits.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BSCD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BulkSettlementCMUPDebit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the total of the bulk settlement and central moneymarkets unit processor debit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BSCC">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BulkSettlementCMUPCredit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the total of the bulk settlement and central moneymarkets unit processor credit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SAPP">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SAPQueueAmount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the settlement account processor queue amount </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRLT">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">IntradayRepoLimit</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the intraday repo limit.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IRDR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">IntradayRepoDrawings</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the intraday repo drawings.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DWRD">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DiscountWindowRepoDrawings</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the discount window repo drawings.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ADWR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AvailableDMVForDiscountWindowRepo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the available discounted market value for discount window repo.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AIDR">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AvailableDMVForIntradayRepo</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Balance represents the available discounted market value for intraday repo.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
