xsd/CashManagement/TIPS_camt.011.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.011.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.011.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AmtWthCcy" type="ActiveCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="ModfyLmt" type="ModifyLimitV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="Limit6">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Limit6</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Details on the limits.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="Amount2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amount of money of the limit, expressed in an eligible currency.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LimitIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LimitIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the identification details to uniquely identify a limit within the system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BilLmtCtrPtyId" type="BranchAndFinancialInstitutionIdentification5" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BilateralLimitCounterpartyIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of the system member for which the limit is established.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="LimitType1Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctOwnr" type="BranchAndFinancialInstitutionIdentification5" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctId" type="AccountIdentification4Choice" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LimitIdentification1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LimitIdentification1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Limit details of one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cur" type="LimitIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Current</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of the current limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="LimitStructure1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LimitStructure1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Limit details of one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LmtId" type="LimitIdentification1Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LimitIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of the default limit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewLmtValSet" type="Limit6">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NewLimitValueSet</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">New limit values.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LimitType1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LimitType1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit defined as a choice between a coded list or a proprietary limit.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="LimitType3Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Type of the limit, in a coded form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="LimitType3Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LimitType3Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the type of risk management limit.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BILI">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Bilateral</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Limit is applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageHeader1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModifyLimitV06">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ModifyLimitV06</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope
The ModifyLimit message is sent by a member to the transaction administrator.
It is used to request modifications in the details of one particular, several or all limits set by the member and managed by the transaction administrator.
Each ModifyLimit message can alter only one type of limit (current or default).
Usage
At any time during the operating hours of the system, the member can request modifications in the limits it has set. For example, the reason may be to unlock the payments queue regarding a particular member, or following a risk management decision issued after an exceptional event has occurred.
The member will submit a message requesting modifications in one or more of the following criteria:
- type of limit (current/default)
- identification of the system
- identification of the counterparty
- value of the limit(s) (default and/or current limit(s))
- point in time when the limit becomes effective
Based on the criteria received within the ModifyLimit message, the transaction administrator will execute or reject the requested modification. The transaction administrator may send a Receipt message as a reply to the ModifyLimit request. To verify the outcome of the request, the member may submit a GetLimit message with the appropriate search criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LmtDtls" type="LimitStructure1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LimitDetails</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identifies one particular limit set by the member and managed by the transaction administrator.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
