xsd/CashManagement/TIPS_camt.050.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.050.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.050.001.04" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="AmtWthCcy">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ActiveCurrencyAndAmount">
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashAccount24</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="CashAccountType2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountType2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalCashAccountType1Code">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Account type, in a coded form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="LqdtyCdtTrf" type="LiquidityCreditTransferV04"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalCashAccountType1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalCashAccountType1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account in the format of character string with a maximum length of 4 characters.&#13;
The list of valid codes is an external code list published separately.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LiquidityCreditTransfer1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LiquidityCreditTransfer1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Provides details specific to the liquidity credit transfer, used to  transfer an amount of money from the debtor to the creditor, where both are financial institutions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LqdtyTrfId" type="PaymentIdentification1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LiquidityTransferIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Used to uniquely identify the liquidity transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cdtr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account to be credited.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtrAcct" type="CashAccount24" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreditorAccount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Account to be credited as a result of a transfer of liquidity. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrfdAmt" type="Amount2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">TransferredAmount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Amount of money that the transaction administrator transfers from one account to another.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dbtr" type="BranchAndFinancialInstitutionIdentification5" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Debtor</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account to be debited.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DbtrAcct" type="CashAccount24" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">DebtorAccount</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Account to be debited as a result of a transfer of liquidity. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmDt" type="ISODate" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LiquidityCreditTransferV04">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">LiquidityCreditTransferV04</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The LiquidityCreditTransfer message is sent by a member to the transaction administrator.&#13;
It is used to request a transfer of funds between two accounts belonging to the same member or the same group of accounts, and being held at the transaction administrator.&#13;
Usage&#13;
At any time during the operating hours of the system, and to perform the appropriate liquidity management, the member can request the transaction administrator to execute the transfer of funds between two accounts that the transaction administrator maintains for the member. For instance, this may be an action resulting from a Get/Return Account pair of messages.&#13;
The LiquidityCreditTransfer message can be used when the transactions to/from the member are unbalanced in value for the business day, or to unlock pending transactions at the end of day.&#13;
The member can request the transfer by identifying the accounts stored at the transaction administrator:&#13;
- If the accounts involved in the requested transfer are known without doubt to the transaction administrator, it is possible to indicate only the type of the account to be credited.&#13;
- If, on the contrary, more clarity is desired, it is possible to identify the accounts from and to which the funds should be transferred.&#13;
Note that transfers are processed only when the balance in the account to be debited is sufficient to pass the liquidity transfer instruction and remain positive. Based on the criteria received within the LiquidityCreditTransfer message, the transaction administrator will execute or reject the requested transfer.&#13;
In principle, the transaction administrator may send a Receipt message as a reply to the liquidity transfer request. To verify the outcome of the request, the member may submit a GetTransaction or GetAccount message with the appropriate search criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LqdtyCdtTrf" type="LiquidityCreditTransfer1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">LiquidityCreditTransfer</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Details of the liquidity credit transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PaymentIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further means of referencing a payment transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InstrId" type="RestrictedFINXMax16Text" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">InstructionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification as assigned by an instructing party for an instructed party to unambiguously identify the instruction.

Usage: the  instruction identification is a point to point reference that can be used between the instructing party and the instructed party to refer to the individual instruction. It can be included in several messages related to the instruction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndToEndId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">EndToEndIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification assigned by the initiating party to unambiguously identify the transaction. This identification is passed on, unchanged, throughout the entire end-to-end chain.&#13;
&#13;
Usage: The end-to-end identification can be used for reconciliation or to link tasks relating to the transaction. It can be included in several messages related to the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
