xsd/CashManagement/TIPS_camt.054.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 12 18:17:14, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:camt.054.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.054.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountNotification12">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="Acct" type="CashAccount25"/>
			<xs:element name="Ntry" type="ReportEntry8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmountAndCurrencyExchange3">
		<xs:sequence>
			<xs:element name="InstdAmt" type="AmountAndCurrencyExchangeDetails3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountAndCurrencyExchangeDetails3">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BankToCustomerDebitCreditNotificationV06">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader58"/>
			<xs:element name="Ntfctn" type="AccountNotification12" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure4">
		<xs:sequence>
			<xs:element name="Domn" type="BankTransactionCodeStructure5" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure5">
		<xs:sequence>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="ExternalBankTransactionDomain1Code">
						<xs:enumeration value="PMNT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Fmly" type="BankTransactionCodeStructure6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BankTransactionCodeStructure6">
		<xs:sequence>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="ExternalBankTransactionFamily1Code">
						<xs:enumeration value="RCDT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SubFmlyCd">
				<xs:simpleType>
					<xs:restriction base="ExternalBankTransactionSubFamily1Code">
						<xs:enumeration value="FICT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount25">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateAndDateTimeChoice">
		<xs:choice>
			<xs:element name="DtTm" type="ISODateTime"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="BkToCstmrDbtCdtNtfctn" type="BankToCustomerDebitCreditNotificationV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntryDetails7">
		<xs:sequence>
			<xs:element name="TxDtls" type="EntryTransaction8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EntryStatus2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BOOK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EntryTransaction8">
		<xs:sequence>
			<xs:element name="Refs" type="TransactionReferences3" maxOccurs="1"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="AmtDtls" type="AmountAndCurrencyExchange3" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RltdPties" type="TransactionParties3" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalBankTransactionDomain1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalBankTransactionSubFamily1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader58">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:sequence>
			<xs:element name="Id" type="Party11Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportEntry8">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode"/>
			<xs:element name="Sts" type="EntryStatus2Code"/>
			<xs:element name="BookgDt" type="DateAndDateTimeChoice" maxOccurs="1"/>
			<xs:element name="BkTxCd" type="BankTransactionCodeStructure4"/>
			<xs:element name="NtryDtls" type="EntryDetails7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TransactionParties3">
		<xs:sequence>
			<xs:element name="Dbtr" type="PartyIdentification43"/>
			<xs:element name="DbtrAcct" type="CashAccount24"/>
			<xs:element name="Cdtr" type="PartyIdentification43"/>
			<xs:element name="CdtrAcct" type="CashAccount24"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionReferences3">
		<xs:sequence>
			<xs:element name="InstrId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="EndToEndId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
