xsd/CashManagement/TIPS_camt.019.001.06.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.019.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.019.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="BusinessDay4">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessDay4</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Payment system operational information, such as opening, closure, session period or events, given per currency.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SysDt" type="ISODate" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date for which the availability information is provided.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SysSts" type="SystemStatus2" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SystemStatus</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessDay5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessDay5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SysId" type="SystemIdentification2Choice" minOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SystemIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a particular market infrastructure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizDayOrErr" type="BusinessDayReportOrError6Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessDayOrError</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Requested information on the system availability for a specific business day or business error when information has not been found.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessDayReportOrError5Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError5Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or an operational error when the requested data cannot be retrieved.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="BizRpt" type="BusinessDay5" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reports either business day information or a business error.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BusinessDayReportOrError6Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessDayReportOrError6Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between business day information details or a business error when the requested data cannot be retrieved.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="BizDayInf" type="BusinessDay4">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessDayInformation</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Requested system details for a specific business day.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrBizDayInf" type="ReturnBusinessDayInformationV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Exact4AlphaNumericText">
		<xs:annotation>
			<xs:documentation>Exact4AlphaNumericText</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalMarketInfrastructure1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ExternalMarketInfrastructure1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification, as published in an external market infrastructure code list.&#13;
This is a synonym of the external cash clearing system code list, extended outside the pure cash domains.&#13;
External code sets can be downloaded from www.iso20022.org.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Exact4AlphaNumericText">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="MarketInfrastructureIdentification1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the market infrastructure identification.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Cd" type="ExternalMarketInfrastructure1Code" fixed="T2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Infrastructure through which the payment instruction is processed, as published in an external clearing system identification code list.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MessageHeader3">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReturnBusinessDayInformationV06">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ReturnBusinessDayInformationV06</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The ReturnBusinessDayInformation message is sent by the transaction administrator to a member of the system.&#13;
It is used to provide information on different types of administrative data linked to the system.&#13;
The ReturnBusinessDayInformation message can be sent as a response to a related GetBusines DayInformation message (pull mode), or initiated by the transaction administrator (push mode). The push of information can take place either at prearranged times or as a warning or alarm when a problem has occurred.&#13;
Usage&#13;
The transaction administrator is in charge of providing the members with business information. The term business day information covers all information related to the management of the system, that is, not related to the transactions or requests created in the system. The type of business information available can vary depending on the system.&#13;
The member can request information about the static data of the system through a series of criteria, corresponding to the known information stored within the transaction administrator. Based on the criteria received within the request, the transaction administrator will select items that match the request and report them to the requester.&#13;
The transaction administrator may also send a ReturnBusinessDayInformation message with pre-defined information at times previously agreed with the member or to warn the member about a particular problem that may have arisen and which needs attention.&#13;
The message from the transaction administrator can contain information based on the following elements:&#13;
- identification of the system&#13;
- status of the system and period in which this status is valid&#13;
- currency within the system concerned and details of the hours of availability linked to that particular currency&#13;
- events related to the functioning of the system and the timing of their occurrence&#13;
Additional information on the generic design of the Get/Return messages can be found in the MDR Part 1 section How to Use the Cash Management Messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader3">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptOrErr" type="BusinessDayReportOrError5Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Reports on business day information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemIdentification2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SystemIdentification2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information used to identify a cash clearing system.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="MktInfrstrctrId" type="MarketInfrastructureIdentification1Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MarketInfrastructureIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Clearing service selected for a transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="SystemStatus2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SystemStatus2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Sts" type="SystemStatus2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Current status of a system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemStatus2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SystemStatus2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Status of a system and the period of time during which the status is valid.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Prtry" type="GenericIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Status of the system, in a proprietary form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
