xsd/CashManagement/TIPS_camt.003.001.06 3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.003.001.06" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.003.001.06" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountCriteria1Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountCriteria1Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="NewCrit" type="AccountCriteria5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountCriteria5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountCriteria5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for an account and to report on the account. A name may be given to the new query.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchCrit" type="CashAccountSearchCriteria5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the account information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationSearchCriteria2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentificationSearchCriteria2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between the different options to search for an account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="EQ" type="AccountIdentification4Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Equal</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Search for one or more accounts based on exact identification of the account(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="AccountQuery1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountQuery1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specification of the query criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctCrit" type="AccountCriteria1Choice" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the account query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CashAccountSearchCriteria5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashAccountSearchCriteria5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctOwnr" type="PartyIdentification43" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="GetAcct" type="GetAccountV06"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAccountV06">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GetAccountV06</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The GetAccount message is sent by a member to the transaction administrator.&#13;
It is used to request information on the details of one or more accounts held at the transaction administrator, including information on the balances.&#13;
Usage&#13;
At any time during the operating hours of the system, the member can query the transaction administrator to get information about the account(s) that the transaction administrator maintains for the member.&#13;
For example, this may be necessary in order to perform the appropriate liquidity management and the funds transfers between accounts.&#13;
The member can request information about accounts through a series of criteria, corresponding to the known information stored at the transaction administrator.&#13;
The query can concern one or more specific accounts, accounts of a particular identification, or a particular type. The purpose of the query may be to obtain one or more types of balance.&#13;
The member can request information based on the following elements:&#13;
- account identification&#13;
- account type (this element can be used to refine the query when the account identification represents, for example, a group of accounts)&#13;
- balance type (if not present, all balances are requested)&#13;
- type of counterparty: bilateral or multilateral (note that, by default, a balance is multilateral unless a particular counterparty is specified)&#13;
- identification of the counterparty when a bilateral balance is requested&#13;
- balance value date (if not present in the GetAccount message, the ReturnAccount message will contain the latest available balance)&#13;
This message will be answered by a ReturnAccount message.&#13;
Additional information on the generic design of the Get/Return messages can be found in the section How to Use the Cash Management Messages.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctQryDef" type="AccountQuery1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountQueryDefinition</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the account query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party11Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party11Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgId" type="OrganisationIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PartyIdentification43">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PartyIdentification43</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Party11Choice" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
