xsd/CashManagement/TIPS_camt.025.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.13) on 2017 Jul 01 23:50:06, ISO 20022 version : 2013-->
<!--Copyright (c) SWIFT scrl, 2017.

 This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.

 This component is subject to the following terms of use:

 This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

 The user  has no right, or right to authorise others, to:
	 - rent, lease, or sell this component;
	 - display publicly, distribute or otherwise provide this component;
	 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors. -->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.025.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1camt.025.001.04" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="Rct" type="ReceiptV04"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageHeader2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="ISODateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalMessageAndIssuer1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OriginalMessageAndIssuer1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Business reference(s) to one or more relevant messages previously sent by other parties, or by the same party issuing this message.

</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the original message to which the message refers. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Receipt1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Receipt1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Provides details on the request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="OriginalMessageAndIssuer1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OriginalMessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of the original request message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReqHdlg" type="RequestHandling">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Gives the status of the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReceiptV04">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ReceiptV04</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Scope&#13;
The Receipt message is sent by the transaction administrator to a member of the system. It is sent to acknowledge the receipt of one or multiple messages sent previously.&#13;
The Receipt message is an application receipt acknowledgement and conveys information about the processing of the original message(s).&#13;
Usage&#13;
The Receipt message is used when the exchange of messages takes place in an asynchronous manner.&#13;
This may happen, for instance, when an action is requested from the transaction administrator (a deletion, modification or cancellation). The transaction administrator will first acknowledge the request (with a Receipt message) and then execute it.&#13;
The message can contain information based on the following elements: reference of the message(s) it acknowledges, the status code (optional) and further explanation:&#13;
- reference of the message it acknowledges&#13;
- potentially, a status code and an explanation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RctDtls" type="Receipt1" minOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ReceiptDetails</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Details of the receipt.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequestHandling">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RequestHandling</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Explains the status of the related request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StsCd" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">StatusCode</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specifies the status of the request.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="RestrictedFINXMax140Text" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Description of the status, in free format text.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax140Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
