xsd/PaymentsClearingandSettlement/TIPS_pacs.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.6.12) on 2017 Jan 27 11:31:40, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.028.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.028.001.01" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
			<xs:element name="Prtry" type="Max35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFIPmtStsReq" type="FIToFIPaymentStatusRequestV01"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FIToFIPaymentStatusRequestV01">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader53"/>
			<xs:element name="OrgnlGrpInf" type="OriginalGroupInformation27"/>
			<xs:element name="TxInf" type="PaymentTransaction73"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader53">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:choice>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="ExternalLocalInstrument1Code">
						<xs:enumeration value="INST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OriginalGroupInformation27">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="OrgnlMsgNmId" type="RestrictedFINXMax35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference24">
		<xs:sequence>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation25" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification5" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTransaction73">
		<xs:sequence>
			<xs:element name="StsReqId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="OrgnlInstrId" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlEndToEndId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="OrgnlTxId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="AccptncDtTm" type="ISODateTime" maxOccurs="1"/>
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference24" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation25">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" maxOccurs="1"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" maxOccurs="1"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:choice>
			<xs:element name="Cd">
				<xs:simpleType>
					<xs:restriction base="ExternalServiceLevel1Code">
						<xs:enumeration value="SEPA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
