xsd/PaymentsClearingandSettlement/TIPS_pacs.008.001.02 3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice_SETTLEMENT">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required" fixed="EUR"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16_SETTLEMENT">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice_SETTLEMENT"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditTransferTransactionInformation11">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification3"/>
			<xs:element name="IntrBkSttlmAmt">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ActiveCurrencyAndAmount">
							<xs:fractionDigits value="2"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccptncDtTm" type="ISODateTime" maxOccurs="1"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32_TIPS_Ultimate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dbtr" type="PartyIdentification32"/>
			<xs:element name="DbtrAcct" type="CashAccount16" maxOccurs="1"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="Cdtr" type="PartyIdentification32"/>
			<xs:element name="CdtrAcct" type="CashAccount16" maxOccurs="1"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32_TIPS_Ultimate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Purp" type="Purpose2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ref" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFICstmrCdtTrf" type="FIToFICustomerCreditTransferV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:enumeration value="INST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FIToFICustomerCreditTransferV02">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader33"/>
			<xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation11" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GroupHeader33">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" fixed="1"/>
			<xs:element name="TtlIntrBkSttlmAmt" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:restriction base="ActiveCurrencyAndAmount">
							<xs:fractionDigits value="2"/>
							<xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required" fixed="EUR"/>
						</xs:restriction>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="IntrBkSttlmDt" type="ISODate" maxOccurs="1"/>
			<xs:element name="SttlmInf" type="SettlementInformation13"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation21" maxOccurs="1"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" maxOccurs="1"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification3">
		<xs:sequence>
			<xs:element name="InstrId" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndToEndId" type="RestrictedFINXMax35Text"/>
			<xs:element name="TxId" type="RestrictedFINXMax35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation21">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" maxOccurs="1"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" maxOccurs="1"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation5">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementInformation13">
		<xs:sequence>
			<xs:element name="SttlmMtd" type="SettlementMethod1Code"/>
			<xs:element name="SttlmAcct" type="CashAccount16_SETTLEMENT" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClrSys" type="ClearingSystemIdentification3Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SettlementMethod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INDA"/>
			<xs:enumeration value="INGA"/>
			<xs:enumeration value="CLRG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32_TIPS_Ultimate">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
