xsd/PaymentsClearingandSettlement/TIPS_pacs.002.001.03 3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by SWIFTStandards Workstation (build:R6.1.0.2) on 2009 Jan 08 17:30:53-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.002.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="FIToFIPmtStsRpt" type="FIToFIPaymentStatusReportV03"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalStatusReason1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FIToFIPaymentStatusReportV03">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader37"/>
			<xs:element name="OrgnlGrpInfAndSts" type="OriginalGroupInformation20"/>
			<xs:element name="TxInfAndSts" type="PaymentTransactionInformation26" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupHeader37">
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstdAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max70Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalGroupInformation20">
		<xs:sequence>
			<xs:element name="OrgnlMsgId" type="RestrictedFINXMax35Text"/>
			<xs:element name="OrgnlMsgNmId" type="Max35Text"/>
			<xs:element name="GrpSts" type="TransactionGroupStatus3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalTransactionReference13">
		<xs:sequence>
			<xs:element name="IntrBkSttlmAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation22" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTransactionInformation26">
		<xs:sequence>
			<xs:element name="StsId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="OrgnlInstrId" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgnlEndToEndId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="OrgnlTxId" type="RestrictedFINXMax35Text" maxOccurs="1"/>
			<xs:element name="TxSts" type="TransactionIndividualStatus3Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StsRsnInf" type="StatusReasonInformation8" minOccurs="0"/>
			<xs:element name="AccptncDtTm" type="ISODateTime" maxOccurs="1"/>
			<xs:element name="OrgnlTxRef" type="OriginalTransactionReference13" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypeInformation22">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8Choice" maxOccurs="1"/>
			<xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SeqTp" type="SequenceType1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ServiceLevel8Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusReason6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalStatusReason1Code"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatusReasonInformation8">
		<xs:sequence>
			<xs:element name="Orgtr" type="PartyIdentification32"/>
			<xs:element name="Rsn" type="StatusReason6Choice"/>
			<xs:element name="AddtlInf" type="Max105Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TransactionGroupStatus3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCT"/>
			<xs:enumeration value="ACCP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionIndividualStatus3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RJCT"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
