xsd/AccountManagement/TIPS_acmt.015.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 (http://www.altova.com) by BANCA D'ITALIA (BANCA D'ITALIA) -->
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 Mar 05 13:39:35, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:acmt.015.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:acmt.015.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountExcludedMandateMaintenanceRequestV02">
		<xs:sequence>
			<xs:element name="Refs" type="References4"/>
			<xs:element name="Acct" type="CustomerAccountModification1"/>
			<xs:element name="AcctSvcrId" type="BranchAndFinancialInstitutionIdentification5"/>
			<xs:element name="Org" type="OrganisationModification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4Choice">
		<xs:choice>
			<xs:element name="Othr" type="GenericAccountIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressModification1">
		<xs:sequence>
			<xs:element name="ModCd" type="Modification1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Adr" type="PostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmountModification1">
		<xs:sequence>
			<xs:element name="ModCd" type="Modification1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="ImpliedCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodeOrProprietary1Choice">
		<xs:choice>
			<xs:element name="Cd" type="RestrictedFINXMax4Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CustomerAccountModification1">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice" minOccurs="1"/>
			<xs:element name="Ccy" type="ActiveCurrencyCode"/>
			<xs:element name="FlrNtfctnAmt" type="AmountModification1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClngNtfctnAmt" type="AmountModification1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClsgDt" type="DateModification1" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Rstrctn" type="RestrictionModification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateModification1">
		<xs:sequence>
			<xs:element name="ModCd" type="Modification1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="AcctExcldMndtMntncReq" type="AccountExcludedMandateMaintenanceRequestV02"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FullLegalNameModification1">
		<xs:sequence>
			<xs:element name="ModCd" type="Modification1Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FullLglNm" type="RestrictedFINXMax350Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINXMax35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Issr" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MessageIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINXMax35Text"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Modification1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DELE"/>
			<xs:enumeration value="ADDD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification8">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:choice>
			<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
			<xs:element name="Prtry" type="RestrictedFINXMax35Text"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrganisationModification1">
		<xs:sequence>
			<xs:element name="FullLglNm" type="FullLegalNameModification1"/>
			<xs:element name="CtryOfOpr" type="CountryCode"/>
			<xs:element name="LglAdr" type="AddressModification1"/>
			<xs:element name="OrgId" type="OrganisationIdentification8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Dept" type="RestrictedFINXMax70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubDept" type="RestrictedFINXMax70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StrtNm" type="RestrictedFINXMax70Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BldgNb" type="RestrictedFINXMax16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PstCd" type="RestrictedFINXMax16Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TwnNm" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CtrySubDvsn" type="RestrictedFINXMax35Text" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AdrLine" type="RestrictedFINXMax70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="References4">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageIdentification1"/>
			<xs:element name="PrcId" type="MessageIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax4Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax4Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z\-\?:\(\)\.,'\+](/?([0-9a-zA-Z\-\?:\(\)\.,'\+ ]/?)*[0-9a-zA-Z\-\?:\(\)\.,'\+]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax70Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax70Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,70}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax350Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Restriction1">
		<xs:sequence>
			<xs:element name="RstrctnTp" type="CodeOrProprietary1Choice"/>
			<xs:element name="VldFr" type="ISODateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RestrictionModification1">
		<xs:sequence>
			<xs:element name="ModCd" type="Modification1Code" maxOccurs="1"/>
			<xs:element name="Rstrctn" type="Restriction1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
